<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ETicketService.ETicketServiceClass" behaviorConfiguration="mexBehavior">
        
        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.ICustomerService">
        </endpoint>
        
        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.IEventService">
        </endpoint>

        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.IAdminService">
        </endpoint>


        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.ISeatService">
        </endpoint>


        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.IOrderService">
        </endpoint>


        <endpoint address="ETicketService" binding="basicHttpBinding" contract="ETicketService.ITicketService">
        </endpoint>


        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Kraka" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0917_1067395;Persist Security Info=True;User ID=dmaa0917_1067395;Password=Password1!"/>
  </connectionStrings>
</configuration>