<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="ETicketDb" connectionString="Server=.\SQLEXPRESS;Initial Catalog=ETicket;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Kraka" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0917_1067395;Persist Security Info=True;User ID=dmaa0917_1067395;Password=Password1!"/>
  </connectionStrings>
  
</configuration>